<h2>Search:</h2>

<form method="POST" action="/journals/results">
    <input type="text" id="search" name="search" value="">
    <button type="submit">Search</button>
</form>

<form method="get" action="/journals/signed-in">
    <button type="submit">Back to Homepage</button>
</form>