<!-- shows past entries -->


<h2>Past Entries:</h2>


<ul>
  <% journals.forEach(function(journal) { %>
    <li> <a href="./journal/<%= journal.id %>"><%= journal.subject %></a></li>
    <li><%= journal.entry %> </li>
    
    
  <% }) %>
  </ul>
  <!-- subject: DataTypes.STRING,
  quote: DataTypes.STRING,
  userId: DataTypes.INTEGER, -->