<!-- shows past entries -->

<form method="GET" action="/signed-in/show">
<h2>Past Entries:</h2>
<h2><%= response.data %> </h2>
</form>


<!-- <div class="journal">
  <form method="POST" action="./signed-in/show">
      <input date="date" type="text" placeholder="Date">
      <input subject="subject" type="text" placeholder="Subject">
       <textarea type="text" class="form-control" id="content" name="content"></textarea>
      <button class="btn btn-primary" type="submit">Add Entry</button>
  </form>
</div> -->

