<!-- shows past entries -->


<h2>Past Entries:</h2>


<select name="journalId" id="journal" class="past-entries" required>
  <% journals.forEach(function(journal) { %>
    <option value="<%= journal.id %>"><%= journal.getJournal() %></option>
  <% }) %>
</select>