<!-- quotes homepage -->
<!-- function to append quote to text box -->

<h1>Youre signed in</h1>
<div id="quoteDiv">
  <h1 id="quoteSection"><%= response.data %> </h1>
</div>
<button id="quoteButton" onclick="addQuote()" on class="btn btn-primary" type="submit">Add To Journal</button>

<h2>Journal:</h2>
<div class="journal">
  <form method="POST" action="./quote/signed-in/">
      <input date="date" type="text" placeholder="Date">
      <input subject="subject" type="text" placeholder="Subject">
       <textarea type="text-area" class="form-control" id="content" name="content"> </textarea>
      <button class="btn btn-primary" type="submit">Add Entry</button>
      <button class="btn btn-primary" type="submit">Open New Page</button>
  </form>
</div>

<script>

    function addQuote(){
    const quoteSection = document.getElementById('quoteSection');
    const content =document.getElementById('content');//text area
    const quoteDiv=document.getElementById('quoteDiv');
    quoteButton = document.getElementById('quoteButton');

  quoteButton.addEventListener('click',addQuote);
  content.value += quoteSection.textContent;

  }
</script>


<a href="/show/">Past Entries</a>