@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Libre+Baskerville:wght@400;700&display=swap');
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);


html, body {
  padding: 0;
  margin: 0;
}
body {
  background: url("blurred-garden.jpeg");
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 70%;
}
.topnav {
  background-color: rgb(23, 143, 105);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}