<h1>New Reminder:</h1>
  
<link rel="stylesheet" href="../assets/css/new.css">
<link rel="stylesheet" href="style.css">


<form action="/notes/new" method="POST">
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" id="subject" name="subject" required />
  </div>

  <div class="form-group">
    <label for="note">Reminder</label>
    <textarea rows="4" cols="50" type="text" class="form-control" id="note" name="note" required></textarea>
  </div>
  
  <input type="submit" class="btn btn-primary" />
</form>

<a href="/notes">All Reminders</a>
<a href="/journals/signed-in">Back to home</a>